numpy==1.23.5
scikit-learn==1.3.0
requests
bs4
gTTS
google-generativeai
deep-translator
streamlit
fastapi
uvicorn
transformers==4.35.2
torch==2.0.1
torchvision==0.15.2
torchaudio==2.0.2
keybert==0.7.0